<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @status.code %>
</p>

<p>
  <b>Name:</b>
  <%= @status.name %>
</p>

<p>
  <b>Color:</b>
  <%= @status.color %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
